<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon-16x16.png">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Ofce - insol</title>
	{*<link rel="stylesheet" href="{$basePath}/assets/css/sb-admin.css">*}
	{*<link rel="stylesheet" href="{$basePath}/assets/css/custom.css">*}

	{control cssJsLoaderControl}
</head>

<body>

{snippet flashes}
{foreach $flashes as $flash}
	<script>
        $.notify({
            message: {$flash->message}
        }, {
            // settings
            type: {$flash->type},
            placement: {
                from: 'top',
                align: 'center'
            },
            delay: 3000,
            newest_on_top: true
        });
	</script>
{/foreach}
{/snippet}

{if $user->isLoggedIn()}
<div id="wrapper">
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" n:href="Homepage:default">Ofce insol</a>
		</div>
		<!-- Top Menu Items -->
		<ul class="nav navbar-right top-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
							class="fa fa-user"></i> {$appUser['users_login']}<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li>
						<a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
					</li>
					<li class="divider"></li>
					<li>
						<a n:href="logout!"><i class="fa fa-fw fa-power-off"></i> Odlasit se</a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				{foreach $menu as $menuKey => $item}
					{continueIf array_key_exists('right', $item) && $appUser['users_sysadmin'] === 0}
					<li n:class="$presenter->isPresenterCurrent($menuKey) ? active">
						<a n:href="$item['link']"><i class="fa {$item['icon']}"></i> {$item['label']}</a>
					</li>
				{/foreach}
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>
	{/if}

	{ifset content}
	<div id="page-wrapper">
		<div class="container-fluid">
			{include content}
		</div>
	</div>
	{/ifset}

	{ifset contentBlank}
		{include contentBlank}
	{/ifset}

</div>

<script>
    $.nette.init();
    $('.datetime-picker').datetimepicker();
    $('select').selectpicker({
        liveSearch: true
	});
</script>

</body>
</html>
