<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon-16x16.png">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Ofce - insol</title>

	<link href="{$basePath}/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="{$basePath}/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="{$basePath}/assets/css/animate.css" rel="stylesheet">
	<link href="{$basePath}/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

	{*DATAGRID*}
	<link rel="stylesheet" type="text/css" href="{$basePath}/assets/bower_components/happy/dist/happy.css">
	<link rel="stylesheet" type="text/css"
		  href="{$basePath}/assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
	<link rel="stylesheet" type="text/css"
		  href="{$basePath}/assets/bower_components/ublaboo-datagrid/assets/dist/datagrid.css">
	<link rel="stylesheet" type="text/css"
		  href="{$basePath}/assets/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.css">
	<link rel="stylesheet" type="text/css"
		  href="{$basePath}/assets/bower_components/bootstrap-select/dist/css/bootstrap-select.css">

	{* Custom CSS *}
	<link rel="stylesheet" href="{$basePath}/assets/css/sb-admin.css">
	<link rel="stylesheet" href="{$basePath}/assets/css/custom.css">

	<script src="{$basePath}/assets/js/jquery-3.1.1.min.js"></script>
	<script src="{$basePath}/assets/js/bootstrap.min.js"></script>
	<script src="{$basePath}/assets/js/live-form-validation.js"></script>
	<script src="{$basePath}/assets/js/nette.ajax.js"></script>
	<script src="{$basePath}/assets/js/moment.min.js"></script>

	{* Datagrid *}
	<script src="{$basePath}/assets/bower_components/happy/dist/happy.js"></script>
	<script src="{$basePath}/assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
	<script src="{$basePath}/assets/bower_components/jquery-ui-sortable/jquery-ui-sortable.js"></script>
	<script src="{$basePath}/assets/bower_components/ublaboo-datagrid/assets/dist/datagrid.js"></script>
	<!-- It is recommended to include this JS file with just a few bits. It refreshes URL on non ajax request -->
	<script src="{$basePath}/assets/bower_components/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>
	<!-- Use this little extension for ajax spinners -->
	<script src="{$basePath}/assets/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>
	<!-- Include bootstrap-select.js when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
	<script src="{$basePath}/assets/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>

	{* Custom JS *}
	<script src="{$basePath}/assets/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{$basePath}/assets/js/bootstrap-notify.min.js"></script>
</head>

<body>

{snippet flashes}
{foreach $flashes as $flash}
	<script>
        $.notify({
            message: {$flash->message}
        }, {
            // settings
            type: {$flash->type},
            placement: {
                from: 'top',
                align: 'center'
            },
            delay: 0,
            newest_on_top: true
        });
	</script>
{/foreach}
{/snippet}

{if $user->isLoggedIn()}
<div id="wrapper">
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" n:href="Homepage:default">Ofce insol</a>
		</div>
		<!-- Top Menu Items -->
		<ul class="nav navbar-right top-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
							class="fa fa-user"></i> {$appUser['users_login']}<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li>
						<a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
					</li>
					<li class="divider"></li>
					<li>
						<a n:href="logout!"><i class="fa fa-fw fa-power-off"></i> Odlasit se</a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				{foreach $menu as $menuKey => $item}
					{continueIf array_key_exists('right', $item) && $appUser['users_sysadmin'] === 0}
					<li n:class="$presenter->isPresenterCurrent($menuKey) ? active">
						<a n:href="$item['link']"><i class="fa {$item['icon']}"></i> {$item['label']}</a>
					</li>
				{/foreach}
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>
	{/if}

	{ifset content}
	<div id="page-wrapper">
		<div class="container-fluid">
			{include content}
		</div>
	</div>
	{/ifset}

	{ifset contentBlank}
		{include contentBlank}
	{/ifset}

</div>
<script>
    $.nette.init();
    $('.datetime-picker').datetimepicker();
    $('select').selectpicker({
        liveSearch: true
	});
</script>

</body>
</html>
