{block content}
	<div class="row">
		<div class="col-md-3">
			<a n:href="export" class="btn btn-primary">Novy export</a>
		</div>
	</div>
	<div class="row">
		{control exportPersonsGrid}
	</div>
{/block}