{block content}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Novy export
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 center-block">
			{control exportPersonsFormControl}
		</div>
		<div class="col-md-3"></div>
	</div>
{/block}