.main-content {
    margin-top: 30px;
}

.user-menu {
    padding: 3px 20px;
}

.login-form {
    margin-top: 100px;
}

.page-subheading {
    font-size: 18px;
}

.alert-buttons {
    color: #31708f;
    background-color: #f9f9f9;
    border-color: #33333321;
}