#VERSION 0.2

parameters:
	fileLogDir: %tempDir%

includes:
	- assets.neon

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	monolog: Nextras\TracyMonologAdapter\Bridges\NetteDI\MonologExtension

console:
	catchExceptions: false
	autoExit: true
	lazy: false

decorator:
	App\Model\BaseModel:
		inject: on
	App\Components\Forms\BaseForm:
		inject: on
	App\Presenters\BasePresenter:
		inject: on

migrations:
    dir: %appDir%/../migrations
    driver: mysql
    dbal: dibi3

session:
	expiration: 14 days


tracy:
	editor: 'phpstorm://open?file=%file&line=%line'

services:
	authenticator: App\Auth\Authenticator
	router: App\RouterFactory::createRouter
	- App\Model\ImportModel
	- App\Model\PersonModel
	- App\Model\UserModel
	- App\Model\ExportModel
	- App\Model\InvoiceModel
	- App\Model\LogModel
	- App\Model\StatisticsModel

	##LIB
	- App\Lib\DatetimeProvider
	- App\Lib\Logger(@monolog.monologLogger)

	##FORMS
	- App\Components\Forms\Login\LoginFormControlFactory

	-
		implement: App\Components\Forms\ImportPersons\ImportPersonsFormControlFactory
		arguments: [%fileLogDir%]

	- App\Components\Forms\ExportPersons\ExportPersonsFormControlFactory

	-
		implement: App\Components\Forms\ImportPersonsInvoices\ImportPersonInvoicesFormControlFactory
		arguments: [%fileLogDir%]

	- App\Components\Forms\User\EditUserFormControlFactory

	##GRID
	- App\Components\Grids\Persons\PersonsGridFactory
	- App\Components\Grids\ExportPersons\ExportPersonsGridFactory
	- App\Components\Grids\ExportPersonsDetail\ExportPersonsDetailGridFactory
	- App\Components\Grids\Invoices\InvoicesGridFactory
	- App\Components\Grids\Log\LogGridFactory
	- App\Components\Grids\Users\UsersGridFactory
	- App\Components\Grids\Import\ImportGridFactory

	##OTHER COMPONENTS
	- App\Components\Other\HomepageStatisticsControlFactory
	-
		implement: App\Components\Other\CssJsLoaderControlFactory
		arguments: [%wwwDir%]

	##CONSOLE
	- App\Console\WebloaderCommand(%wwwDir%, %webLoader%)
