parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

console:
	catchExceptions: false
	autoExit: true
	lazy: false

migrations:
    dir: %appDir%/../migrations
    driver: mysql
    dbal: dibi3

session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
